#header {
  background-color: #fff;
  padding: 1.5em 0;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(222, 222, 222, 0.5);
  border-top: 5px solid #337ab7;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
#header .inner {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
#header .inner #brand {
  display: flex;
  align-self: start;
  margin-left: 1rem;
}
#header .inner #menu {
  display: flex;
  align-self: end;
}
#header .inner #menu ul {
  margin: 0;
}
#header h1 {
  margin: 0;
  padding: 5px 0;
  font-weight: 400;
  font-size: 1.25rem;
}
#header h1 span {
  color: #337ab7;
}
#header h1, #header a {
  text-transform: lowercase;
}
#header a {
  color: #9a9a9a;
}
#header a:hover, #header a:focus, #header a:active {
  color: #232323;
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-top: 5px solid #337ab7;
  box-sizing: border-box;
}
.home .hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 800px;
  text-align: center;
}
.home .dot {
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 50%;
}
.home h1 {
  margin-top: 0.7em;
  font-size: 2.5rem;
}
.home h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0 1.5rem;
}
.home h3, .home em {
  font-weight: 300;
}
.home em {
  color: #337ab7;
}
.home strong {
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .hero h3 {
    font-size: 1.5rem;
  }
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
html, body {
  min-height: 100vh;
}

body {
  display: flex;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  background: #fff url("../img/bg-pattern.png");
  color: #636363;
  padding: 0;
  font-size: 1rem;
}

a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:visited {
  color: #337ab7;
}
a:active, a:focus, a:hover {
  color: #265c89;
}

div.code {
  max-width: 100%;
  overflow: auto;
}

code {
  font-size: 0.8rem;
}

#container {
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

main#content {
  max-width: 800px;
  width: 100%;
  margin: auto;
  flex-grow: 1;
}
main#content article {
  width: auto;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  margin: 0 0.5rem 1.5em;
  padding: 1.2rem;
  border-bottom: none;
  font-weight: 300;
}
main#content article .entry-title {
  font-size: 1.625rem;
  margin-bottom: 0;
  line-height: 1.5em;
  margin-top: 0;
}
main#content article h1 a {
  color: #636363;
}
main#content article h1 a:hover, main#content article h1 a:active, main#content article h1 a:focus {
  color: #337ab7;
}
main#content article .metadata p {
  font-weight: 400;
}

.postpromonav {
  border-top: none;
  border-bottom: 1px solid rgba(222, 222, 222, 0.5);
}
.postpromonav .tags {
  margin-top: 0;
  font-size: 0.9rem;
}
.postpromonav .tags li::before, .postpromonav .tags li:first-of-type::before {
  content: "#";
}

.postindexpager .pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.postindexpager .pager .next::before, .postindexpager .pager .previous::before {
  content: none;
}
.postindexpager .pager .btn {
  color: #636363;
  border-color: rgba(222, 222, 222, 0.8);
}
.postindexpager .pager .btn:active, .postindexpager .pager .btn:hover, .postindexpager .pager .btn:focus {
  background-color: #636363;
  border-color: #636363;
  color: #fff;
}

#footer {
  background-color: #fff;
  border-top: 1px solid rgba(222, 222, 222, 0.5);
  padding: 2rem;
  text-align: center;
  color: #9a9a9a;
}
#footer p {
  margin: 0;
}
#footer .social {
  padding: 0.5rem;
  margin-top: 0;
}

.social {
  padding: 1.5em 0;
}
.social li {
  display: inline-block;
  padding: 0 0.6em;
}
.social a {
  color: #9a9a9a;
}
.social a:hover, .social a:active, .social a:focus {
  color: #337ab7;
}
.social i {
  font-size: 1.2em;
}

.btn, .sliding-panel-button {
  appearance: none;
  background-color: #337ab7;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 0.2s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover, .sliding-panel-button:hover, .btn:focus, .sliding-panel-button:focus {
  background-color: #296292;
  color: #fff;
}

.btn:disabled, .sliding-panel-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:disabled:hover, .sliding-panel-button:disabled:hover {
  background-color: #337ab7;
}

.btn.btn-ghost, .btn-ghost.sliding-panel-button {
  background-color: transparent;
  border: 2px solid #337ab7;
  color: #337ab7;
}
.btn.btn-ghost:active, .btn.btn-ghost:hover, .btn.btn-ghost:focus, .btn-ghost.sliding-panel-button:active, .btn-ghost.sliding-panel-button:hover, .btn-ghost.sliding-panel-button:focus {
  background-color: #337ab7;
  color: #fff;
}

.btn.disabled, .disabled.sliding-panel-button, .btn[disabled], [disabled].sliding-panel-button, fieldset[disabled] .btn, fieldset[disabled] .sliding-panel-button {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}

/*# sourceMappingURL=main.css.map */
